In [1]:
# Pacotes necessários

import pandas as pd
import numpy as np

In [2]:
# Carregando os arquivos

df_main = pd.read_csv('googleplaystore.csv')
df_review = pd.read_csv('googleplaystore_user_reviews.csv')

In [3]:
# Verificando as colunas presentes e quantidade de células não nulas

df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [4]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

In [12]:
# Checando o conteúdo de cada tabela para verificar o tipo de dado

df_main.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [13]:
df_review.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

É possível concluir que:
- Apenas as categorias Rating (df_main) e Sentiment_Polarity e Sentiment_Subjectivity (df_review) são float

- O número de reviews, instalações, preço (colunas Review, Installs e Price) poderiam ser também numericos.

- Antes de transformar a coluna de Size em numérico, é importante remover o último 'M' que possui nos elementos

- A classificação etática (Content Rating), a data da última atualização (Last Updated), a versão atual (Current Ver) e a versão de Android (Android Ver) podem ser desconsiderados nessa análise

- No df de review, existem várias linhas para o mesmo APP e muitas linhas com NaN.

In [14]:
# Removendo as colunas Content Rating, Last Updated, Current Ver, Android Ver da df principal

colunas_removidas = ['Content Rating', 'Last Updated','Current Ver', 'Android Ver']
df_main.drop(colunas_removidas, axis = 1, inplace = True)

In [15]:
# Para não remover as linhas completas que contém dados NaN de Rating, podemos substituir o rating pelo valor médio:
df_main['Rating'].fillna(df_main['Rating'].mean(), inplace=True)

In [16]:
# Removendo a única linha que contém NaN em Type:
df_main = df_main.dropna()

In [17]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10840 entries, 0 to 10840
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   App       10840 non-null  object
 1   Category  10840 non-null  object
 2   Rating    10840 non-null  float64
 3   Reviews   10840 non-null  object
 4   Size      10840 non-null  object
 5   Installs  10840 non-null  object
 6   Type      10840 non-null  object
 7   Price     10840 non-null  object
 8   Genres    10840 non-null  object
dtypes: float64(1), object(8)
memory usage: 846.9+ KB

In [18]:
# Para o dataframe de review, existem linhas que apenas contém o nome do APP, sem mais nenhuma informação:
df_review.tail()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
64290,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64291,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64292,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64293,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64294,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN

In [19]:
# Removendo essas linhas:
df_review = df_review.dropna()

In [20]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37427 entries, 0 to 64230
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     37427 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37427 non-null  object
 3   Sentiment_Polarity      37427 non-null  float64
 4   Sentiment_Subjectivity  37427 non-null  float64
dtypes: float64(2), object(3)
memory usage: 1.7+ MB

In [21]:
df_main

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Genres
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.100000,159,19M,"10,000+",Free,0,Art & Design
1,Coloring book moana,ART_AND_DESIGN,3.900000,967,14M,"500,000+",Free,0,Art & Design;Pretend Play
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.700000,87510,8.7M,"5,000,000+",Free,0,Art & Design
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.500000,215644,25M,"50,000,000+",Free,0,Art & Design
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.300000,967,2.8M,"100,000+",Free,0,Art & Design;Creativity
...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.500000,38,53M,"5,000+",Free,0,Education
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.000000,4,3.6M,100+,Free,0,Education
10838,Parkinson Exercices FR,MEDICAL,4.193338,3,9.5M,"1,000+",Free,0,Medical
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.500000,114,Varies with device,"1,000+",Free,0,Books & Reference
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.500000,398307,19M,"10,000,000+",Free,0,Lifestyle

In [22]:
#Verificando os elementos da coluna Installs:

df_main['Installs'].value_counts()

1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
Free                 1
Name: Installs, dtype: int64

In [23]:
# Removendo a linha que contem 'Free' na coluna de Installs:

mask = df_main['Installs'] == 'Free'
df_main = df_main.loc[~mask].reset_index()

In [24]:
# Na coluna de número de instalações, removendo as vírgulas e símbolos '+' e convertendo para int:

df_main['Installs'] = df_main['Installs'].apply(lambda x: x.replace('+',''))
df_main['Installs'] = df_main['Installs'].apply(lambda x: x.replace(',',''))
df_main['Installs'] = df_main['Installs'].apply(lambda x: int(x))

In [25]:
# Na coluna de Price, remover "$" e transformar em float:
df_main['Price'] = df_main['Price'].apply(lambda x: x.replace('$',''))
df_main['Price'] = df_main['Price'].apply(lambda x: float(x))

In [26]:
# Convertendo Reviews para inteiro:
df_main['Reviews'] = df_main['Reviews'].apply(lambda x: int(x))

In [27]:
# Removendo linhas duplicadas:
df_main = df_main.drop_duplicates('App')

In [28]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9658 entries, 0 to 10838
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     9658 non-null   int64
 1   App       9658 non-null   object
 2   Category  9658 non-null   object
 3   Rating    9658 non-null   float64
 4   Reviews   9658 non-null   int64
 5   Size      9658 non-null   object
 6   Installs  9658 non-null   int64
 7   Type      9658 non-null   object
 8   Price     9658 non-null   float64
 9   Genres    9658 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 830.0+ KB

Com os valores numéricos devidamente transformados, podemos ter uma visão estatística geral dos dados

In [29]:
df_main.describe()

              index       Rating       Reviews      Installs        Price
count   9658.000000  9658.000000  9.658000e+03  9.658000e+03  9658.000000
mean    5665.812384     4.176285  2.166150e+05  7.778312e+06     1.099413
std     3102.321144     0.494391  1.831413e+06  5.376100e+07    16.853021
min        0.000000     1.000000  0.000000e+00  0.000000e+00     0.000000
25%     3111.250000     4.000000  2.500000e+01  1.000000e+03     0.000000
50%     5813.500000     4.200000  9.670000e+02  1.000000e+05     0.000000
75%     8326.750000     4.500000  2.940800e+04  1.000000e+06     0.000000
max    10840.000000     5.000000  7.815831e+07  1.000000e+09   400.000000

In [30]:
df_review.describe()

       Sentiment_Polarity  Sentiment_Subjectivity
count        37427.000000            37427.000000
mean             0.182171                0.492770
std              0.351318                0.259904
min             -1.000000                0.000000
25%              0.000000                0.357143
50%              0.150000                0.514286
75%              0.400000                0.650000
max              1.000000                1.000000

Algumas perguntas podem ser respondidas:

In [31]:
# 1. Qual a categoria de aplicativos mais popular?

print("1. Qual a categoria de aplicativos mais popular?")
print(df_main.groupby('Category').size().sort_values(ascending=False).head(1))

1. Qual a categoria de aplicativos mais popular?
Category
FAMILY    1831
dtype: int64

In [32]:
# 2. Qual a categoria de aplicativos mais popular entre os aplicativos pagos?

print("2. Qual a categoria de aplicativos mais popular entre os aplicativos pagos?")
print(df_main[df_main['Type'] == 'Paid'].groupby('Category').size().sort_values(ascending=False).head(1))

2. Qual a categoria de aplicativos mais popular entre os aplicativos pagos?
Category
FAMILY    183
dtype: int64

In [33]:
# 3. Qual a categoria de aplicativos mais popular entre os aplicativos gratuitos?

print("3. Qual a categoria de aplicativos mais popular entre os aplicativos gratuitos?")
print(df_main[df_main['Type'] == 'Free'].groupby('Category').size().sort_values(ascending=False).head(1))

3. Qual a categoria de aplicativos mais popular entre os aplicativos gratuitos?
Category
FAMILY    1648
dtype: int64

In [11]:
# 4. Qual a categoria de aplicativos mais popular entre os aplicativos com avaliação maior que 4.5?

print("4. Qual a categoria de aplicativos mais popular entre os aplicativos com avaliação maior que 4.5?")
print(df_main[df_main['Rating'] > 4.5].groupby('Category').size().sort_values(ascending=False).head(1))

4. Qual a categoria de aplicativos mais popular entre os aplicativos com avaliação maior que 4.5?
Category
FAMILY    364
dtype: int64

In [34]:
# 5. Qual a categoria de aplicativos mais popular entre os aplicativos com avaliação menor que 4.0?
print("5. Qual a categoria de aplicativos mais popular entre os aplicativos com avaliação menor que 4.0?")
print(df_main[df_main['Rating'] < 4.0].groupby('Category').size().sort_values(ascending=False).head(1))

5. Qual a categoria de aplicativos mais popular entre os aplicativos com avaliação menor que 4.0?
Category
FAMILY    399
dtype: int64

In [35]:
# 6. Qual a categoria de aplicativos mais popular entre os aplicativos com avaliação igual a 5.0?
print("6. Qual a categoria de aplicativos mais popular entre os aplicativos com avaliação igual a 5.0?")
print(df_main[df_main['Rating'] == 5.0].groupby('Category').size().sort_values(ascending=False).head(1))

6. Qual a categoria de aplicativos mais popular entre os aplicativos com avaliação igual a 5.0?
Category
FAMILY    67
dtype: int64

In [36]:
# 7. Quais os 10 aplicativos mais populares?

print("7. Quais os 10 aplicativos mais populares?")
print(df_main.sort_values(by = 'Installs', ascending=False).head(10)['App'])

7. Quais os 10 aplicativos mais populares?
336               WhatsApp Messenger
152                Google Play Books
1654                  Subway Surfers
3117       Maps - Navigate & Explore
340                            Gmail
2545                       Instagram
2544                        Facebook
338     Google Chrome: Fast & Secure
2554                         Google+
3665                         YouTube
Name: App, dtype: object

In [37]:
# 8. Quais os 10 aplicativos mais populares entre os aplicativos pagos?
print("8. Quais os 10 aplicativos mais populares entre os aplicativos pagos?")
print(df_main[df_main['Type'] == 'Paid'].sort_values(by = 'Installs', ascending=False).head(10)['App'])

8. Quais os 10 aplicativos mais populares entre os aplicativos pagos?
4034                               Hitman Sniper
2241                                   Minecraft
5631                     Five Nights at Freddy's
8860                                 Bloons TD 5
3405                                  HD Widgets
2883                         Facetune - For Free
7417               Grand Theft Auto: San Andreas
6675                        Infinity Dungeon VIP
2242                  Card Wars - Adventure Time
4842    Zombie Avengers:(Dreamsky)Stickman War Z
Name: App, dtype: object

In [ ]:
# 9. Quais os 10 aplicativos mais populares entre os aplicativos gratuitos?
print("9. Quais os 10 aplicativos mais populares entre os aplicativos gratuitos?")
print(df_main[df_main['Type'] == 'Free'].sort_values(by = 'Installs', ascending=False).head(10)['App'])

9. Quais os 10 aplicativos mais populares entre os aplicativos gratuitos?
335     Messenger – Text and Video Chat for Free
152                            Google Play Books
3665                                     YouTube
391                Skype - free IM & video calls
3234                                      Google
865                            Google Play Games
3736                                 Google News
3127                          Google Street View
2544                                    Facebook
2545                                   Instagram
Name: App, dtype: object

In [ ]:
# 10. Qual a categoria de aplicativos mais popular entre os aplicativos com mais de 1 milhão de instalações?
print("10. Qual a categoria de aplicativos mais popular entre os aplicativos com mais de 1 milhão de instalações?")
print(df_main[df_main['Installs'] > 1000000].sort_values(by = 'Installs', ascending=False).head(10)['Category'])

10. Qual a categoria de aplicativos mais popular entre os aplicativos com mais de 1 milhão de instalações?
341           COMMUNICATION
336           COMMUNICATION
338           COMMUNICATION
152     BOOKS_AND_REFERENCE
340           COMMUNICATION
391           COMMUNICATION
3117       TRAVEL_AND_LOCAL
3736     NEWS_AND_MAGAZINES
2808            PHOTOGRAPHY
3454           PRODUCTIVITY
Name: Category, dtype: object